h1 {
    text-align: center;
    color:blue;
}
img{
    width: 100%;
}
    
body{
    padding: 0;
margin: 0;
font-family: sans-serif;

}
#navbar{
    padding: 20px;
}
#logo{
    margin: 0;
    height: 50px;
    width: 100px;
}
#banner{
    object-fit:cover ;
}